In [1]:
import pandas as pd

config_time = pd.read_csv(r'C:\Users\13262\Desktop\vis_result\task_time_config.csv')
tabular_time = pd.read_csv(r'C:\Users\13262\Desktop\vis_result\task_time_tabular.csv')

config_time_only = config_time[['participantId','task','duration_sec','format']][config_time['task'] != 'unqualified']
tabular_time_only = tabular_time[['participantId','task','duration_sec','format']][tabular_time['task'] != 'unqualified']

time_data = pd.concat([config_time_only, tabular_time_only])
time_data

C:\Users\13262\AppData\Local\Temp\ipykernel_12904\279809609.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,participantId,task,duration_sec,format
0,67895b7d6400163124042af7,introduction,395.748,jsonc
1,67895b7d6400163124042af7,qualifications,10.282,jsonc
2,67895b7d6400163124042af7,consent,63.068,jsonc
3,67895b7d6400163124042af7,task,14.610,jsonc
4,67895b7d6400163124042af7,writing-task-NL,475.830,jsonc
...,...,...,...,...
3311,6675c40cdc52b37294f0514e,modifying-task-tabular-3_post-task-question,6.186,hjson
3312,6675c40cdc52b37294f0514e,modifying-task-tabular-4,209.509,hjson
3313,6675c40cdc52b37294f0514e,modifying-task-tabular-4_post-task-question,5.298,hjson
3314,6675c40cdc52b37294f0514e,$nasa-tlx.co.nasa-tlx,13.270,hjson
3315,6675c40cdc52b37294f0514e,post-task-survey-tlx,43.077,hjson

In [17]:
result.to_csv(r'C:\Users\13262\Desktop\vis_result\task_norm.csv', index=False)